<% include ../../views/partials/header.ejs %>
<% include ../../views/partials/navBar.ejs %>
    <div id="greeting">
      Hi <span id="greet-name"><%= currentUser.name %></span>, RadMart delivery is on its way!
    </div>

    <div id="map-container">
      <div id="map"></div>
    </div>

    <div id="radInfo">
      Our RadMartian <img id= "van-img" src="images/delivery-truck.svg" > is currently around <br> <span class="radInfo-inner" id="radLocation"></span>
    </div>

    <!-- <div id="van">
      <img id= "van-img" src="images/delivery-truck.svg" >
    </div> -->

    <div id="info">
      Taxi no. <span id="taxi"><%=taxi%></span>
      customer: <span id="customer"><%=currentUser.name%></span>
      lat: <span id="lat"><%=currentUser.lat%></span>
      lng: <span id="lng"><%=currentUser.lng%></span>
    </div>

    <script type="text/javascript" src="../js/map.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmgmOAXzCx9nm0i5eWuDkUnZch8GLbXCg&v=3&callback=initMap">
    </script>

<% include ../../views/partials/footer.ejs %>
